<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="restAssuredTests" class="web.winkel.webwinkel.RestAssuredTests" />
    <bean id="webwinkelApplication" class="web.winkel.webwinkel.WebwinkelApplication" />
    <bean id="webwinkel" class="web.winkel.webwinkel.Webwinkel" />
</beans>